@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A192F;
  --foreground: #EBEBEB;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}
